NEXT_PUBLIC_SUPABASE_URL=supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key

SLACK_BOT_TOKEN=slack_bot_token
SLACK_SIGNING_SECRET=slack_secret
SLACK_CHANNEL_ID=slack_channel_id

GOOGLE_GENERATIVE_AI_API_KEY=genai_google_api_key

WORKFLOW_AI_MODEL=gemini-2.5-flash